# 1 Exp

In [3]:
import pandas as pd
url = 'https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv'
df = pd.read_csv(url, index_col=0)
df.head(5)

               alpha-2 alpha-3  ...  sub-region-code intermediate-region-code
name                            ...
Afghanistan         AF     AFG  ...             34.0                      NaN
Ã…land Islands       AX     ALA  ...            154.0                      NaN
Albania             AL     ALB  ...             39.0                      NaN
Algeria             DZ     DZA  ...             15.0                      NaN
American Samoa      AS     ASM  ...             61.0                      NaN

[5 rows x 10 columns]

In [6]:
import random
file_name = str(int(random.random() * 10000)) + '_df.csv'
df.to_csv(file_name, index=False)